*.o
*.d
*.elf
*.hex
*.h_
*.cpp_
BattMon/*.o
BattMon/*.d
IMU/*.o
IMU/*.d
IMU/*/*.o
IMU/*/*.d
Radio/*.o
Radio/*.d
RangeSensor/*.o
RangeSensor/*.d
SoftwareSerial/*.o
SoftwareSerial/*.d
Wire/*.o
Wire/*.d
SPI/*.o
SPI/*.d
TinyGPSPlus/*.o
TinyGPSPlus/*.d
.dep/*
tools/*.exe
*.sdf
tools/SerialPassthrough/Release
tools/SerialPassthrough/*/Release
